@include b(dropdown) {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  font-size: $font-size;
  color: $content-text-color;

  .c-dropdown-handle {
    display: flex;
  }

  .c-button-group {
    display: inline-flex;

    .c-button {
      float: none;
    }
  }

  .c-dropdown-caret-button {
    position: relative;
    padding-right: $text-padding;
    padding-left: $text-padding;
    color: $right-icon-color;
  }

  .c-dropdown-self-define { // 自定义
    &:focus:active,
    &:focus:not(.focusing) {
      outline-width: 0;
    }
  }

  @include e(icon) {
    margin: 0 3px;
    font-size: $font-size-small;
  }
}
